---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->
<div name = "intro">

  <p> Hi there! My name is Vinay Débrou. Welcome to my website.</p>

  <p>I am an independent consultant and steward of data strategy & web-branding strategy.</p>

  <p> 
  You can learn more about <a href="https://vinaydebrou.com/projects/">my consulting work and other projects.</a></p>
  
  <p> 
  You can read <a href="https://vinaydebrou.com/writing/">my writing.</a> Mostly short essays on few topics I'm deeply interested in. You might also find new poems there occasionally. </p>

  <p>If you want to stay updated with what I am doing currently, you can check out my weekly Substack newsletter(and sign up if you like): <a href="https://daybrew.substack.com/about">Daybrew's Note</a>. </p>


  <p> The best way to contact me is by dropping a short <a href="mailto:vinaydebrou@gmail.com">Email</a> or pinging me on <a href="https://twitter.com/vinaydebrou">Twitter</a>.</p>

  <img src="images/my-treehouse-headshot.jpeg">



  



</div>

</div>
