---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->
<div name = "intro">

  <p><img src="images/my-treehouse-headshot.jpeg" width="30%" height="60%" align="left" hspace=40 vspace="40" ">Hi there! My name is Vinay Débrou. Welcome to my website.</p>

  <p>I am an independent consultant for data strategy & customer-experience strategy. You can learn more about <a href="https://vinaydebrou.com/projects/">my consulting work and other side-projects.</a> You can read <a href="https://vinaydebrou.com/writing/">my writing.</a></p>

  <p>If you want to stay updated with what I am doing currently, you can check out my weekly Substack newsletter(and sign up if you like): <a href="https://daybrew.substack.com/about">Daybrew's Note</a>. The best way to contact me is by dropping a short email or pinging me on <a href="https://twitter.com/vinaydebrou">Twitter</a>.</p>


</div>

</div>
