---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->
<div name = "intro">

  <p> Hi there! My name is Vinay Débrou. Welcome to my website.</p>

  <p>I am an independent consultant and steward of data & brand strategy. The majority of my clients are early-stage, web-based businesses and indepedent creators/researchers. </p>

  <p> 
  You can learn more about <a href="https://vinaydebrou.com/projects/">my consulting work and other projects.</a></p>
  
  <p> 
  You can read <a href="https://vinaydebrou.com/writing/">my writing.</a> Mostly short essays on few topics I'm deeply interested in. You might also find new poems there occasionally. </p>

  <p>If you want to stay updated with what I am doing currently, you can check out my weekly Substack newsletter(and sign up if you like): <a href="https://daybrew.substack.com/about">Daybrew's Note</a>. </p>


  <p> The best way to contact me is by dropping a short <a href="mailto:vinaydebrou@gmail.com">Email</a> or pinging me on <a href="https://twitter.com/vinaydebrou">Twitter</a>.</p>

  <img src="images/my-treehouse-headshot.jpeg">


<hr>

<p> </p>
<h2> My Newsletter: Daybrew's Note </h2>

  <p>Join our small group for regular chat and updates, every Thursday:</p>

   <div name = "substack embed" align="center" style="max-width: 100vw;  height: 60vw; min-width: 50vw;">
    
    <iframe src="https://daybrew.substack.com/embed" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>

  



</div>

</div>
