---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->


<div>
	

<p>I am an independent data-strategy consultant and a hobbyist-researcher in network-science, living space design and online communities. My background by education is in computer science. I attended the *Computer Science & Engineering* undergraduate program of India’s top computer-science university-- Indian Institute of Technology. </p>

<p>Email: vinaydebrou@gmail.com.</p>

<hr>


<p><strong>Now (last updated: Jan 2021)</strong> </p>


<ul>
<li><p>I'm creating an interactive network-map for <a href="https://www.yakcollective.org/now/">Yak Collective</a> -- an onine-network of independent consultants/creators/freelancers, to enable new inter-disciplinary collaborations. Learn more in this <a href="https://docs.google.com/document/d/13ihQ2VdjZbfjWjxeOmCvFl_gt9Y1xuFkolyHdW6yNGY/edit?usp=sharing">scope-and- roadmap document</a></p>
</li>

<li><p>I'm working on facilitating a learning-club on <a href="https://daybrew.substack.com/p/how-to-assemble-a-team-of-indie-professionals">'Interdisciplinary Teams to Solve Complex Problems'</a> on the <a href="https://hyperlink.academy/#clubs">Hyperlink Academy</a> platform. If you'd like to co-facilitate/participate, drop me an email.</p>
</li>

<li><p>I'm accepting new client-engagments with founding teams and management executives who need external help with untangling their data strategy(refactoring their decision-making frameworks/tools) and customer-experience strategy (disovering high-consequence blind spots). Ping me. </p>
</li>

</ul>

<h1 id="consulting">Consulting</h1>

<p>I usually work with web-based businesses but there are exceptions. Past clients include early-stage SaaS startups, academic researchers, e-commerce companies and independent creators. In my consulting, I offer a specific combination of reviewing both the data-strategy & the customer-experience strategy, to asssist clients in need of external help to tune the product-market fit of their business.</p>

<p>My consulting practice can involve: reviewing/architecting data-systems for analytics, reviewing customer-experience strategy and assisting the product-development team. More importantly, it involves sensemaking sessions with the management to connect the dots to discover blind-spots in their customer-experience strategy. </p>


<h1 id="past-projects">What have I worked on</h1>
<ul>
<li><p>CX Strategy: Reviewing customer-journey for online consumer-businesses to discover blind-spots in their customer-experience strategy and offering specific recommendations to refactor. Example: review & reconfiguring the customer-experience strategy of an emerging mountainbike-lighting brand to remove 'conversion-blockers' from the existing customer-journey map.</p>
</li>
<li><p>Data-Strategy: Creating interactive visualizations of critical data to provide the big-picture for decision-making and offer recommendations on where-to-look. Example: an interactive network-map for an online network of independent consultant/creators to generate new collaborations and enable self-assembly of teams for collaborative projects.  </p>
</li>

<li><p>Data Systems: Architecting digital system-of-record using low-code/ no-code tools. Examples: a content production system and an inventory-management database.</p>
</li>
</ul>


<hr>
<h2 id="selected-projects-from-my-past-client-work-">Selected Projects from my past client work:</h2>
<ul>

<li><p>Data Systems: Data-collection, analysis & geo-mapping of data about marriage celebrants from Australian government registry-- to assist a policy-research project. <a href="https://www.guru.com/portfolio/postcode-data-extraction-geo-mapping-australia-/674878">More details here</a>.</p>
</li>

<li><p>Data Systems: Preparation, analysis & visualization of customer research data for a senior executive at a big bank in Monaco. <a href="https://www.guru.com/portfolio/tableau-charts-for-bank-survey-data/674870">More details here</a>.</p>
</li>

<li><p>CX Strategy: Review of the customer-interaction experience for a growing bike-lighting brand resulting in refactoring of the customer-journey map via changes in website design, copy and customer-communication process. <a href="https://www.outboundlighting.com/">Website here</a>. </p>
</li>

<li><p>CX Strategy: Web-CX review for a subscription box company that curates artisan home-decor. <a href="https://hartandhess.com/">Website here</a>. </p>
</li>

<li><p>Service Design: Architecting an internal content production system for a fintech SaaS startup using Coda (a no-code developer tool).  <a href="https://coda.io/d/Oddup-Content-Work_dyxQrFhZOSE">Check out the system prototype here</a>. </p>
</li>

<li><p>CX Strategy: CX strategy of a mood-based webspace for an upcoming e-commerce business. <a href="https://moodswangs.webflow.io">Checkout the beta output here</a>.</p>
</li>

<li><p>CX Strategy: Review & refactoring of the website customer-experience for the 'Community Fundraising' section of Krispy Kreme Doughnuts(Australia Division) business website. <a href="https://www.krispykreme.com.au/fundraising">Website section here</a>  </p>
</li>

<li><p>CX Strategy: Web-CX strategy review and production of website copy (the english version) for Interlink FBC: a Texas-based franchise brokerage for immigrant investors. <a href="https://www.interlinkfbc.com/en/about-us/">Website here</a>.</p>
</li>

</ul>
<hr>
<h2 id="selected-projects-where-i-was-a-contributor-">Selected Projects where I was a contributor:</h2>
<ul>


<li><p>Customer-discovery (future-applications) for a leading neurotech-device startup. My contribution was on the potential applications of neuroscience-as-a-service in future workspaces.</p>
</li>


<li><p>Data Collection and Preparation-for-Analysis for a Twitter idea-crowdsourcing experiment run by James Cattell (part of the Systems Unit in the UK Cabinet Office) on UK government's pandemic recovery plan. <a href="http://www.govtransformation.org/uncategorized/34-doughnuts-what-the-world-well-twitter-wants-to-tell-the-uk-government-about-recovery/">More details on the project here</a>. </p>
</li>

<li><p>Strategy Report for post-pandemic business intelligence by the Yak Collective-- Don’t Waste the Reboot. My contribution was Slides 37-38: Restructure as a Small-World Network. <a href="https://yakcollective.org/projects/yak-wisdom">Project publicly available here</a>. </p>
</li>
<li><p>Policy research project for Government of India’s official policy think tank (Niti Aayog) -- Surveying &amp; Modeling Industry-Community collaboration models for rural development for India, from around the world. <a href="https://drive.google.com/file/d/1_0D-HkRVF52Gs3Gloytt6FdpZsV_Qbn1/view?usp=sharing">Analysis &amp; Strategy Document available here</a>. </p>
</li>
<li><p>Research Project to model a Living Heritage Business Ecosystem with community-led heritage tourism, under the guidance of Ioannis Poulios. <a href="https://drive.google.com/file/d/19ZRVzhlr57py_xtS8tebJPq-fHwCrwRr/view?usp=sharing">Partial Draft available here</a>. </p>
</li>
</ul>


<hr>
<h2 id="selected-side-projects-things-i-did-for-fun-">Selected side-projects/things I did for fun:</h2>

<ul>

<li><p>Helped my university roommate with early-stage customer-acquisition for his custom drone-building startup <em>TechEagle</em>. The startup was later acquired by <em>Zomato</em>(India&#39;s hyperlocal food delivery unicorn).</p>
</li>

<li><p>Tweetribe: a curation of interesting people on Twitter to make the most out of Twitter experience. <a href="https://tweetribe.webflow.io/">beta Website here</a>.</p>
</li>

<li><p>Conversion Sherpa: Reviewing landing pages for the first-time web-entrepreneurs and associated subreddit with 1200+ subscribers. <a href="https://conversion-sherpa.herokuapp.com/">beta Website</a> &amp; <a href="https://www.reddit.com/r/conversionboosters?utm_medium=android_app&amp;utm_source=share">Subreddit</a> here. </p>
</li>

<li><p>LIFA Library(work in progress):  a curated library of resources for location-independent free-agents like me. <a href="https://www.notion.so/brewing/765e5c9203dc42ffa6b38637369c7879?v=ac3d0a39211c4979a90749de8fc17853">Webpage here</a>.</p>
</li>
<li><p>Playing with Data: Exploring YouTube Trending Videos data (2017-18). <a href="https://www.kaggle.com/vinaykumar3/eda-v-youtube-trending-videos">Notebook here</a>.  </p>
</li>
<li><p>Internet 4 All Challenge (2014) by Telenor: National Finalist for modeling an alerting system for road-accidents that connects nearby hospitals and the victim&#39;s family to the incident.</p>
</li>
<li><p>Trading Alpha Building: Bronze Winner (among top 150 global participants) in the global alpha-building (quant models) competition by WorldQuant. </p>
</li>
</ul>
<hr>

<p> Thanks for reading. Feel free to reach out for a chat.</p>

</div>


</div>



