---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->


<p> Layouts Folder: I am an independent consultant and a steward of data strategy and web-brand strategy for businesses and organizations that leverage the web for their survival.</p>

<p>My background by education is in computer science. I attended the <em>Computer Science &amp; Engineering</em> undergraduate program of India’s top engineering college, Indian Institute of Technology.</p>
<p>In my 3 years of professional experience, I have helped clients navigate the subtleties of the web. My clients include web-based businesses trying to reach product-market fit, independent creators/researchers and senior executives in need of stewardship assistance. </p>
<hr>
<p><strong>June 2020 Update:</strong> I&#39;m accepting new projects to: </p>
<ul>
<li><p>Build strategic data systems for businesses, researchers and executives </p>
</li>
<li><p>Formulate brand-strategy for web-based businesses & build unique web-spaces</p>
</li>
<li><p>Make sense of the data using data-science tools and strategy heuristics </p>
</li>
</ul>
<p>If you want to discuss a project opportunity with me, the best way to start the conversation is to drop an email to vinaydebrou@gmail.com. </p>
<h1 id="consulting">Consulting</h1>
<p>I usually work with web-based businesses. Past clients include early-stage SaaS startups, e-commerce companies and independent creators. In my consulting, I offer a specific combination of strategy &amp; stewardship to clients in need of external help to tune the Product-Market Fit of their business.</p>
<p>Even though I have the experience of doing stewardship work in specific domain silos, my consulting service is not so much about implementing a domain-specific feature. It&#39;s centered around helping a client traverse through the messy process of configuring together the multiple moving pieces of a relatively new web-based business into a coherent-enough go-to-market strategy.</p>
<p>This can involve helping the client as needed with: market-research, conversion-rate optimization, data analytics, configuring brand-strategy and product-development assistance. More importantly, it involves sensemaking sessions with the client to connect the dots across these domains to come up with a &#39;more whole&#39; strategy and an implementation plan.</p>
<h1 id="past-projects">Past Projects</h1>
<p>In the majority of my professional client work, I do this:</p>
<ul>
<li><p>Build data systems and make sense of the data using data-science tools and business heuristics; and offer recommendations for the go-to-market strategy.</p>
</li>
<li><p>Build a digital system using low-code/ no-code tools. Examples include a content production system, an inventory-management database &amp; an e-commerce store.</p>
</li>

<li><p>Reformulate the web-branding strategy and align the customer-acquisition approach to that --(includes reviewing of the conversion-funnel structure for conversion-rate optimization and stewardship for  website design, web-copy & email campaigns). </p>
</li>
</ul>
<hr>
<h2 id="selected-projects-from-my-past-client-work-">Selected Projects from my past client work:</h2>
<ul>
<li><p>Extraction of data about marriage celebrants from Australian government website, preparation, analysis &amp; geo-mapping for a policy research project. <a href="https://www.guru.com/portfolio/postcode-data-extraction-geo-mapping-australia-/674878">More details here</a>.</p>
</li>
<li><p>Preparation, analysis &amp; visualization of customer research data for a senior executive at a big bank in Monaco. <a href="https://www.guru.com/portfolio/tableau-charts-for-bank-survey-data/674870">More details here</a>.</p>
</li>
<li><p>Design &amp; building of a content production system for a fintech SaaS startup using Coda (a no-code developer tool). <a href="https://coda.io/d/Oddup-Content-Work_dyxQrFhZOSE">Check out the system prototype here</a>. </p>
</li>
<li><p>Design &amp; building of a mood-based webspace for an upcoming e-commerce business. <a href="https://moodswangs.webflow.io">Checkout the beta output here</a>.</p>
</li>
<li><p><strong>Consulting:</strong> Review &amp; refactoring of the website copy for the Community Fundraising section of Krispy Kreme Doughnuts(Australia Division) business website. <a href="https://www.krispykreme.com.au/fundraising">Website section here</a>  </p>
</li>
<li><p><strong>Consulting:</strong> Brand-strategy and early-stage customer-acquisition strategy for a subscription box company that curates artisan home-decor. <a href="https://hartandhess.com/">Website here</a>. </p>
</li>
<li><p><strong>Consulting:</strong> Brand-strategy for an emerging bike-lighting brand &amp; refactoring of customer-journey map via refactoring of website copy, redesign of the landing-page, and a refactored customer-acquisition strategy. <a href="https://www.outboundlighting.com/">Website here</a>. </p>
</li>
<li><p><strong>Consulting:</strong> Brand-strategy and production of website copy (the English version) for Interlink FBC: a Texas-based franchise brokerage for immigrant investors. <a href="https://www.interlinkfbc.com/en/about-us/">Website here</a>.</p>
</li>
</ul>
<hr>
<h2 id="selected-projects-where-i-was-a-contributor-">Selected Projects where I was a contributor:</h2>
<ul>

<li><p>Data Collection and Preparation-for-Analysis for a Twitter idea-crowdsourcing experiment run by James Cattell (part of the Systems Unit in the UK Cabinet Office) on UK government's pandemic recovery plan. <a href="http://www.govtransformation.org/uncategorized/34-doughnuts-what-the-world-well-twitter-wants-to-tell-the-uk-government-about-recovery/">More details on the project here</a>. </p>
</li>

<li><p>Strategy Deck for post-pandemic business intelligence by the Yak Collective-- Don’t Waste the Reboot. My contribution was Slides 37-38: Restructure as a Small-World Network. <a href="https://yakcollective.org/projects/yak-wisdom">Project publicly available here</a>. </p>
</li>
<li><p>Policy research project for Government of India’s official policy think tank (Niti Aayog) -- Surveying &amp; Modeling Industry-Community collaboration models for rural development for India, from around the world. <a href="https://drive.google.com/file/d/1_0D-HkRVF52Gs3Gloytt6FdpZsV_Qbn1/view?usp=sharing">Analysis &amp; Strategy Document available here</a>. </p>
</li>
<li><p>Research Project to model a Living Heritage Business Ecosystem with community-led heritage tourism, under the guidance of Ioannis Poulios. <a href="https://drive.google.com/file/d/19ZRVzhlr57py_xtS8tebJPq-fHwCrwRr/view?usp=sharing">Partial Draft available here</a>. </p>
</li>
</ul>
<hr>
<h2 id="selected-side-projects-things-i-did-for-fun-">Selected side-projects/things I did for fun:</h2>
<ul>
<li><p>Helped my college dorm roommate with early-stage customer-acquisition for his custom drone-building startup <em>TechEagle</em>. The startup was later acquired by <em>Zomato</em>(India&#39;s hyperlocal food delivery unicorn).</p>
</li>
<li><p><strong>Tweetribe:</strong> a curation of interesting people on Twitter to make the most out of Twitter experience. <a href="https://tweetribe.webflow.io/">beta Website here</a>.</p>
</li>
<li><p><strong>Conversion Sherpa:</strong> Reviewing landing pages for the first-time web-entrepreneurs and associated subreddit with 1200+ subscribers. <a href="https://conversion-sherpa.herokuapp.com/">beta Website</a> &amp; <a href="https://www.reddit.com/r/conversionboosters?utm_medium=android_app&amp;utm_source=share">Subreddit</a> here. </p>
</li>
<li><p><strong>LIFA Library</strong>(work in progress):  a curated library of resources for location-independent free-agents like me. <a href="https://www.notion.so/brewing/765e5c9203dc42ffa6b38637369c7879?v=ac3d0a39211c4979a90749de8fc17853">Webpage here</a>.</p>
</li>
<li><p><strong>Playing with Data:</strong> Exploring YouTube Trending Videos data (2017-18). <a href="https://www.kaggle.com/vinaykumar3/eda-v-youtube-trending-videos">Notebook here</a>.  </p>
</li>
<li><p><strong>Internet 4 All Challenge (2014) by Telenor:</strong> National Finalist for modeling an alerting system for road-accidents that connects nearby hospitals and the victim&#39;s family to the incident.</p>
</li>
<li><p><strong>Trading Alpha Building:</strong> Bronze Winner (among top 150 global participants) in the global alpha-building (quant models) competition by WorldQuant. </p>
</li>
</ul>
<hr>
<p>If you want to reach out to me to discuss a project opportunity or for interesting collaboration, drop me an email to vinaydebrou@gmail.com.</p>






</div>



