---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->
<div name = "intro">

  <p> Hi there! my name is Vinay Débrou. Welcome to my website.</p>

  <p>I am an independent consultant and steward of data and brand Strategy for web based businesses and researchers. </p>
  
    
  <p> My weekly newsletter writing can be found on my Substack website here: <a href="https://daybrew.substack.com">Daybrew's Note</a>. </p>


  <p style="font-weight: bold;">Warning: the below sections are work-in-progress. Please visit this page again few days later.</p>

</div>


<div name= "consulting">
<h2>Consulting</h2>

<p>I mostly work with web-based businesses. Past clients include SaaS startups, E-commerce companies and independent creators. In my consulting, I offer a specific combination of strategy & stewardship to clients in need of external help to tune the Product-Market Fit of their business.</p>

<p>Even though I have the experience of doing contract work in specific domain silos, my consulting service is not so much about implementing a domain-specific feature. It's centered around helping a client traverse through the messy process of configuring together the multiple moving pieces of a relatively new web-based business into a coherent-enough go-to-market strategy.</p>

<p>This can involve helping the client as needed with: market-research, conversion-rate optimization, data analytics, configuring brand-strategy and product-development assistance. More importantly, it involves sensemaking sessions with the client to connect the dots across these domains to come up with a 'more whole' strategy and an implementation plan.</p>

</div>


<div name="selected-projects">

<h2> Selected Projects</h2>


<p>Here is a list of selected projects I have done across multiple domains:</p>


<p>Warning: the below sections are work-in-progress. Please visit this page again few days later.</p>

<ul>

  <li>
    Work in Progress.
  </li>
  <li>
    Policy-Research Program -- Surveying & Modeling Industry-Community Collaborations for Rural Development --Office of MP Jodhpur, India

  </li>
  <li>
    Krispy Kreme (Australia Division)'s website for their Community Fundraiser program -- consulting--site-design and web-copy.
  </li>

</ul>

</div>
<!--


<p>The working arrangement is usually just ongoing email/slack interactions, with 1:1 video-conference sparring sessions of 1-3 hours every 4-6 weeks (more or less often depending on the pace of developments). Occasionally a client will rope in a colleague or direct report to help drill down into a particular issue. There is usually no output product as such, beyond the summary email notes I send after every call.</p>

<p>Occasionally, I take on projects such as building system models, or preparing and delivering private workshops on specific topics at the request of clients.</p>

<p>My consulting model is best-suited for executives in medium-to-large organizations, and requires interactions over at least a year to yield results. Occasionally, I work with individuals, leaders at smaller companies and startups (typically past the product-market fit stage, with at least 25-30 employees and/or investment/revenue in the millions of dollars).</p>

<p> Clients usually find me directly through something I've written, rather than through a referral. Check out the <a href="#writing">writing section</a>. The links below are to some of my more business-themed blog posts, but it is often a non-businsess post that triggers a great sparring relationship.</p>
  
-->

</div>
