---
layout: default
---

<div class="home">
  
<!---
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

-->


<!-- this is the code I'm adding as custom edit
# some useless snippets I added <a name="top">

  srcset="/images/my-treehouse-headshot.jpeg 200w,
             /images/my-treehouse-headshot.jpeg 400w,
             /images/my-treehouse-headshot.jpeg 800w"
     sizes="(max-width: 320px) 200px,
            (max-width: 480px) 400px,
            800px"

Start here-->

  <p> I write short essays on topics that I am deeply curious about. I also write poems occasionally.</p>
  
    
  <p> My weekly newsletter writing can be found on my Substack website here: <a href="https://daybrew.substack.com">Daybrew's Note</a>.</p>



<!-- Custom code ends here --> 




  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Essays" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <!-- the below if endif condition filters the posts from a certain category -->
      {%- if post.category=="essay" -%}


      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <h4 style="font-style:italic;">
        {%- if post.subtitle -%}
          {{ post.subtitle }}
        {%- endif -%}
        </h4>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    

    <h2 class="post-list-heading">Poems</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <!-- the below if endif condition filters the posts from a certain category -->
      {%- if post.category=="poem" -%}


      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
